<DOCTYPE! html>
<html>
  <body>
    <h2>Create a New Recipe</h2>
    <form method="post" action="/recipes">
      <div>
        <h3>
        <label for="name">Name of Recipe: </label>
        <input id="name" type="text" name="name"/>
        </h3>
      </div> 

      <div>
        <h3>
        <label for="ingredients">List of Ingredients: </label>
        <input id="ingredients" type="text" name="ingredients">
        </h3>
      </div>

      <div>
      <h3>
      <label for="cook_time">Cooking Time: </label>
      <input id="cook_time" type="text" name="cook_time"/>
      </h3>
      </div>

      <br>
      <h3><input type="submit"/></h3>
    </form>
  </body>
</html>